<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".PhoneNumberVerification"
            android:exported="true" />
        <activity
            android:name=".DisplayPlacementDetail"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity android:name=".UpdatePlacementDetail" />
        <activity
            android:name=".AdminRegister"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".EnterPage"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".AdminLogin"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".StudentList"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".RegisterCompany"
            android:label="Register Company" />
        <activity android:name=".Documents" />
        <activity android:name=".OTPVerification" />
        <activity
            android:name=".StudentHome"
            android:label="Student" />
        <activity
            android:name=".CompaniesList"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".AdminHome"
            android:label="Admin" />
        <activity
            android:name=".RegisterScreen"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".Screen2"
            android:label="Documents" />
        <activity
            android:name=".addCompanies"
            android:label="Update Company" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.MyApp.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>